/node_modules/
/.idea/
src/store/reducers/localization/localization.json
./public/*
public/
/npm-debug.log
!/yarn-error.log
!/yarn.lock
.bash_history
.cache/
.config/
.npm/
*.gz
*.exe
*.log
./src/modules/index.js
*.save