<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Missing translation key Mail for language RU</title>
</head>
<body class="vsc-initialized" style="box-sizing: border-box;width: 100%;min-height: 100%;margin: 0;padding: 0;background-color: #fff;font-family: &quot;Exo-Regular&quot;, sans-serif, &quot;Roboto&quot;, sans-serif;font-weight: 400;line-height: 1.45rem">
<div id="app" style="box-sizing: border-box">
    <div class="FelaComponent_Layout_layout__rrlp0k" style="box-sizing: border-box;width: 100%;min-height: 100vh;background-color: #fff;overflow: hidden">
        <main style="box-sizing: border-box;min-height: 100%">
            <table border="0" cellpadding="0" cellspacing="0" class="FelaComponent_Mail_table__hm96yi" style="box-sizing: border-box;border-spacing: 0;border-collapse: collapse;width: 100%">
                <thead class="" style="box-sizing: border-box">
                <tr class="FelaComponent_Mail_top__1ngp3rm" style="box-sizing: border-box;min-height: 10rem;padding-top: 1px;vertical-align: middle;position: relative;border-bottom: 0.5rem solid #FDF396;width: 100%;background-color: #4F4F4F;color: #fff;z-index: 3;height: fit-content;padding: 1rem 0">
                    <td colspan="2" width="100%" style="box-sizing: border-box">
                        <h1 class="TypographyStyle_Typography__1npe2d9" style="box-sizing: border-box;font-family: &quot;Vollkorn-Regular&quot;, serif, &quot;Roboto&quot;, sans-serif;text-align: center;font-weight: bold;text-transform: uppercase;font-size: 4rem;line-height: 5rem;color: #fff">EMERNOTAR.IO</h1>
                    </td>
                </tr>
                </thead>
                <tbody style="box-sizing: border-box">
                <tr class="FelaComponent_Mail_topFooter__rbgvqo" style="box-sizing: border-box;min-height: 7rem;vertical-align: middle;position: relative;text-align: center;color: black;margin-top: 2rem;width: 100%">
                    <td colspan="2" style="box-sizing: border-box">
                        <div class="undefined FelaComponent_TopLabel_wrapper__92egxg" style="box-sizing: border-box;position: relative;display: inline-block;-webkit-transform: none;transform: none;padding: 2rem;margin: 1rem;z-index: 5;background-color: #FFF;box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);font-weight: bold;max-width: 540px;width: 100%;margin-top: 2rem">
                            <h2 class="TypographyStyle_Typography__1rtzuwl" style="box-sizing: border-box;font-family: &quot;Vollkorn-Regular&quot;, serif, &quot;Roboto&quot;, sans-serif;text-align: center;font-weight: inherit;text-transform: none;font-size: 1.375rem;line-height: 1.4;margin: 0;color: #4F4F4F"/>
                            <h3 class="TypographyStyle_Typography__1l6g419" style="box-sizing: border-box;font-family: &quot;Vollkorn-Regular&quot;, serif, &quot;Roboto&quot;, sans-serif;text-align: center;font-weight: bold;text-transform: none;font-size: 1.375rem;line-height: 1.4;color: #4F4F4F">Уважаемый пользователь!</h3>
                            <p class="TypographyStyle_Typography__1vgnqil" style="box-sizing: border-box;text-align: left;font-weight: bold;text-transform: none;font-size: 1.375rem;line-height: 1.4;color: #4F4F4F">Ваша заявка на создание/редакторование записи в блокчейн была выполнена. Ниже Вы найдете все нужные данные о транзакции, а в приложении - архив с подписью и сертификат.</p>
                        </div>
                    </td>
                </tr>
                <tr class="FelaComponent_Mail_topFooter__rbgvqo" style="box-sizing: border-box;min-height: 7rem;vertical-align: middle;position: relative;text-align: center;color: black;margin-top: 2rem;width: 100%">
                    <td colspan="1" style="width: 50%;box-sizing: border-box">
                        <div class="undefined FelaComponent_TopLabel_wrapper__vxttpq" style="box-sizing: border-box;position: relative;display: inline-block;-webkit-transform: none;transform: none;padding: 2rem;margin: 2rem;z-index: 5;background-color: #FFF;box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);font-weight: bold">
                            <h2 class="TypographyStyle_Typography__1rtzuwl" style="box-sizing: border-box;font-family: &quot;Vollkorn-Regular&quot;, serif, &quot;Roboto&quot;, sans-serif;text-align: center;font-weight: inherit;text-transform: none;font-size: 1.375rem;line-height: 1.4;margin: 0;color: #4F4F4F">Данные о транзакции в блокчейн:</h2>
                            <p class="TypographyStyle_Typography__1433npn" style="box-sizing: border-box;text-align: left;font-weight: normal;text-transform: none;font-size: 1.375rem;line-height: 1.4;color: #4F4F4F">Дата внесения: <!-- -->{submittingDate}<!-- --> <br style="box-sizing: border-box"/>ID транзакции: <!-- -->{idTransaction}<!-- --> <br style="box-sizing: border-box"/>Ваш адрес в блокчейн Emercoin: <!-- -->{blockChainAddress}<!-- --> <br style="box-sizing: border-box"/></p>
                        </div>
                    </td>
                    <td colspan="1" style="width: 50%;box-sizing: border-box">
                        <div class="undefined FelaComponent_TopLabel_wrapper__vxttpq" style="box-sizing: border-box;position: relative;display: inline-block;-webkit-transform: none;transform: none;padding: 2rem;margin: 2rem;z-index: 5;background-color: #FFF;box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);font-weight: bold">
                            <h2 class="TypographyStyle_Typography__1rtzuwl" style="box-sizing: border-box;font-family: &quot;Vollkorn-Regular&quot;, serif, &quot;Roboto&quot;, sans-serif;text-align: center;font-weight: inherit;text-transform: none;font-size: 1.375rem;line-height: 1.4;margin: 0;color: #4F4F4F">Данные о сертификате:</h2>
                            <p lineheight="2rem" class="TypographyStyle_Typography__1433npn" style="box-sizing: border-box;text-align: left;font-weight: normal;text-transform: none;font-size: 1.375rem;line-height: 1.4;color: #4F4F4F">Дата нотаризации: <!-- -->{notarizationCreateTime}<!-- --> <br style="box-sizing: border-box"/>Владелец нотаризации: <!-- -->{ownerEmail}<!-- --> <br style="box-sizing: border-box"/>Срок действия: до <!-- -->{submittingExpiration}<a to="http://emernoter.io/faq" style="text-decoration: none;box-sizing: border-box"><span style="box-sizing: border-box"> ¿ </span></a><br style="box-sizing: border-box"/>Сервис: <!-- -->{serviceName}<!-- --> <br style="box-sizing: border-box"/></p>
                        </div>
                    </td>
                </tr>
                <tr class="FelaComponent_Mail_topFooter__rbgvqo" style="box-sizing: border-box;min-height: 7rem;vertical-align: middle;position: relative;text-align: center;color: black;margin-top: 2rem;width: 100%">
                    <td colspan="2" style="box-sizing: border-box">
                        <a href="" class="ButtonStyle_Button__101fx38" style="box-sizing: border-box;position: relative;display: inline-flex;max-width: inherit;border: none;font-family: inherit;text-decoration: none;cursor: pointer;transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;-webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;-moz-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);padding: 0.5rem 2.5rem;font-size: 1rem;line-height: 1.5rem;min-height: 2.5rem;min-width: 2.5rem;color: #000;background-color: #FDF396;border-radius: 5px">
                            <img class="ImageStyle_Image__ltc3k7" src="../../../../assets/media/icon_print-81a6a0fb.svg" alt="" style="box-sizing: border-box;border: none !important;position: relative;display: block;margin: auto;padding: 0.2rem;height: 3rem"/>
                            <span text-decoration="none" class="TypographyStyle_Typography__1hrg7xb" style="box-sizing: border-box;text-align: left;font-weight: normal;text-transform: none;font-size: 2.4375rem;line-height: 2.8125rem;color: #4F4F4F">Print</span>
                        </a>
                    </td>
                </tr>
                <tr class="FelaComponent_Mail_topFooter__rbgvqo" style="box-sizing: border-box;min-height: 7rem;vertical-align: middle;position: relative;text-align: center;color: black;margin-top: 2rem;width: 100%">
                    <td colspan="2" style="box-sizing: border-box">
                        <p class="TypographyStyle_Typography__12tq4m3" style="box-sizing: border-box;text-align: center;font-weight: normal;text-transform: none;font-size: 1.375rem;line-height: 1.4;color: #4F4F4F">SHA512 Хэш-сумма: <!-- -->{name}<!-- --> <br style="box-sizing: border-box"/>Наимменование файла:<!-- -->{fileName}</p>
                    </td>
                </tr>
                </tbody>
                <tfoot style="box-sizing: border-box">
                <tr class="FelaComponent_Mail_footer__1nxhwin" style="box-sizing: border-box;min-height: 4.6rem;vertical-align: middle;position: relative;margin-top: -4.6rem;text-align: center;padding: 1rem;background-color: #4F4F4F;color: #fff;border-top: none;width: 100%">
                    <td colspan="1" style="box-sizing: border-box">
                        <p class="TypographyStyle_Typography__1m5fgc8" style="box-sizing: border-box;text-align: center;font-weight: bold;text-transform: none;font-size: 1.125rem;line-height: 1.2;color: #fff">EMERNOTAR.IO © 2018</p>
                    </td>
                    <td colspan="1" style="box-sizing: border-box">
                        <a target="_blank" style="color: #fff;text-decoration: none;box-sizing: border-box" href="https://code-artel.com/">
                            <div style="display: inline-block;vertical-align: middle;width: 40px;height: 40px;margin-right: 10px;box-sizing: border-box">
                                <img style="border: none !important;box-sizing: border-box" src="../../../../assets/media/logo_compaero_2018-f34989bf.svg" alt=""/>
                            </div>
                            <span class="TypographyStyle_Typography__10fewws" style="box-sizing: border-box;text-align: left;font-weight: normal;text-transform: none;font-size: 1.375rem;line-height: 1.4;display: inline-block;vertical-align: middle;color: #fff">Code Artel</span>
                        </a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </main>
    </div>
</div>
</body>
</html>
