@import '../../../../frontend-mechanic/src/style/base/index';

.header {
  position: relative;
  z-index: 3;
  &_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-top: 0.625rem;
    padding-bottom: 0.625rem;

    @include container;
  }

  &_bottom {
    @include container;
  }

}











